{
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": false,
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["main.js"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
